.termsHead {
	background-color: #d3d3d3;
}

.termsHead th:first-child {
	background-color: #d3d3d3;
	width: 30%;
}

.termsHead th:last-child {
	width: 70%;
}

.inputTextSub {
	line-height: 50px;
	width: 100%;
}

.inputTextContent {
	width: 100%;
	line-height:2.3em;
}