html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.layout {
	width: 100%;
	position: relative;
}

.layoutHeader {
	position: relative;
	width: 100%;
	height: 50px;
}

.layoutSideBar {
	width: 30%;
	position: absolute;
	top: 120px;
	left: 30px;
	height: 200px;
}

.layoutContent {
	position: relative;
	top: 60px;
	left: -100px;
	width: 70%;
	overflow: visible;
	padding-bottom: 120px;
}

.layoutContent2 {
	position: relative;
	top: 60px;
	left: auto;
	width: 70%;
	overflow: visible;
	padding-bottom: 120px;
}

.layoutFooter {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 90px;
}