<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="manageUserMapper">
	<!-- 가입 회원 리스트 출력 ORDER BY regidate -->
	<select id="regiUserList" resultType="">
		SELECT
		USER_ID AS userID,
		USER_NAME AS userName,
		email AS email,
		hp AS hp,
		address AS address,
		regidate AS regidate
		FROM User_Info_TB

	</select>
	<!-- 회원 강퇴 -->
	<delete id="userRemove" parameterType="String">
		DELETE FROM User_Info_TB
		WHERE USER_ID=#{userID}
	</delete>
</mapper>