<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchMapper">
	<select id="selectSido" resultType="string">
		select distinct(sido) from SIDOGUGUNDONGRI
	</select>
	<select id="selectGugun" resultType="string">
		select distinct(gugun) from SIDOGUGUNDONGRI where sido=#{_parameter}
	</select>
	<select id="selectDong" resultType="string">
		select distinct(dong) from SIDOGUGUNDONGRI where gugun=#{_parameter}
	</select>
	<select id="selectRi" resultType="string">
		select distinct(ri) from SIDOGUGUNDONGRI where dong=#{_parameter}
	</select>
	<resultMap type="parkDTO" id="searchMap">
		<id column="park_no" property="parkNo"/>
		<result column="user_id" property="userId"/>
		<result column="park_name" property="parkName"/>
		<result column="park_addr" property="parkAddr"/>
		<result column="park_size" property="parkSize"/>
		<result column="park_content" property="parkContent"/>
		<result column="price" property="price"/>
		<association property="parkImg" javaType="parkImgDTO">
		  <result column="img_path" property="imgPath"/>
		</association>
		<association property="parkRegi" javaType="parkRegiDTO">
		  <result column="regi_start" property="regiStart"/>
		  <result column="regi_end" property="regiEnd"/>
		</association>
		<collection property="carTypeLists" ofType="carTypeDTO">
		  <id column="car_Type" property="carType"/>
		  <result column="max_car" property="maxCar"/>
		</collection>
	</resultMap>
	<select id="selectPark" parameterType="searchFilterDTO" resultMap="searchMap">
		 SELECT park_no,user_id,park_name,park_addr,park_size,park_content,price,regi_start,regi_end,i.img_path,car_type,max_car
		 FROM park_tb NATURAL JOIN park_regist_tb NATURAL JOIN (SELECT *
			FROM (
			SELECT img_no, park_no, img_path, RANK()OVER(PARTITION BY park_no ORDER BY img_path DESC) rk
			FROM park_image_tb) pp WHERE rk = 1) i NATURAL JOIN car_type_tb
 		<where>
			regi_end <![CDATA[>]]> sysdate
			<if test="parkAddr!=null and !parkAddr.equals('') and !parkAddr.equals('null')">
			and park_addr like CONCAT('%',#{parkAddr},'%')
			</if>
			<if test="carType!=null and !carType.equals('')">
			and car_type = #{carType}
			</if>
			<if test="reserveDate!=null and !reserveDate.equals('')">
			and #{reserveDate} between regi_start and regi_end
			</if>
			<if test="parkContent!=null and !parkContent.equals('')">
			and park_content like CONCAT('%',#{parkContent},'%')
			</if>
			<if test="destination!=null and !destination.equals('')">
			and park_addr like  CONCAT('%',#{destination},'%')
			</if>
			<if test="parkName!=null and !parkName.equals('')">
			and park_name like CONCAT('%',#{parkName},'%')
			</if>
			<if test="price!=0">
			and price <![CDATA[<]]> #{price}
			</if>
		</where>
	</select>
</mapper>